<div fxLayout="column" class="flex-p">
  <mat-card>
    <mat-card-content>
      <div fxLayoutGap="3%" fxLayout.xs="column">
        <div fxFlex="50%">
          <h3 class="flex-p py-1"></h3>
        </div>
      </div>
      <div class="flex-p">
        <form #settlementForm="ngForm">
          <div fxLayout="column" class="form-block">
            <div fxFlex="100%" fxLayoutGap="2%">
              <mat-form-field fxFlex="30%">
                <input matInput placeholder="Loan Number" name="loadid" [(ngModel)]="loanId" required readonly>
              </mat-form-field>
              <div fxFlex="70%" fxLayoutAlign="end">
                <button mat-raised-button color="primary" type="button" (click)="displayLoanSearchPopup()"
                  class="mat-elevation-z12 box-button">Search</button>
              </div>
            </div>


          </div>
          <div class="form-block">
            <div fxLayoutGap="1%">
              <mat-form-field fxFlex="24%">
                <input matInput placeholder="Customer ID" name="customerID" [(ngModel)]="customerID" readonly>
              </mat-form-field>
              <mat-form-field fxFlex="24%">
                <input matInput placeholder="Customer Name" name="customerName" [(ngModel)]="customerName" readonly>
              </mat-form-field>
              <mat-form-field fxFlex="24%">
                <input matInput placeholder="Loan Date" name="loanDate" [(ngModel)]="loanDate" readonly>
              </mat-form-field>
              <mat-form-field fxFlex="24%">
                <input matInput placeholder="Loan Amount" name="loanAmount" [(ngModel)]="loanAmount" readonly>
              </mat-form-field>
            </div>
            <div>
              <div fxLayoutGap="1%" fxLayout.xs="column">
                <mat-form-field fxFlex="24%">
                  <input matInput placeholder="Installment Paid" name="installmentPaid" [(ngModel)]="installmentPaid"
                    readonly>
                </mat-form-field>
                <mat-form-field fxFlex="24%">
                  <input matInput placeholder="Total Installment" name="totalInstallment" [(ngModel)]="totalInstallment"
                    readonly>
                </mat-form-field>
                <mat-form-field fxFlex="24%">
                  <input matInput placeholder="Unpaid Installment" name="unpaidInstallment"
                    [(ngModel)]="unpaidInstallment" readonly>
                </mat-form-field>

                <mat-form-field fxFlex="24%">
                  <input matInput placeholder="Principal Outstanding" name="principalOutstanding"
                    [(ngModel)]="principalOutstanding" readonly>
                </mat-form-field>

              </div>
              <div fxLayoutGap="1%" fxLayout.xs="column">
                <mat-form-field fxFlex="24%">
                  <input matInput placeholder="Interest on Above" name="interestOnAbove" [(ngModel)]="interestOnAbove"
                    readonly>
                </mat-form-field>

                <mat-form-field fxFlex="24%">
                  <input matInput placeholder="Account Payable" name="balanceOnAccount"
                    [(ngModel)]="balanceOnAccount" readonly>
                </mat-form-field>


                <mat-form-field fxFlex="24%">
                  <input matInput placeholder="Overdue Interest" name="overdueInterest" [(ngModel)]="overdueInterest"
                    readonly>
                </mat-form-field>
                <mat-form-field fxFlex="24%">
                  <input matInput placeholder="Overdue Amount" name="overdueAmount" [(ngModel)]="overdueAmount"
                    readonly>
                </mat-form-field>

                <mat-form-field fxFlex="24%">
                  <input matInput placeholder="Other Charges" name="otherCharges" [(ngModel)]="otherCharges" readonly>
                </mat-form-field>


              </div>
              <div fxLayoutGap="1%" fxLayout.xs="column">
                <mat-form-field fxFlex="24%">
                  <input matInput placeholder="Settlement Amount" name="settlementAmount" [(ngModel)]="settlementAmount"
                    required readonly>
                </mat-form-field>
                <mat-form-field fxFlex="24%">
                  <mat-select [(ngModel)]="paymentModeSearchType" placeholder="Payment Mode" (ngModelChange)="onChange($event)"
                    name="paymentModeSearchText" #paymentModeSearchText="ngModel" required>
                    <mat-option *ngFor="let item of paymentModeList"
                      value="{{item.LedgerID}}^{{item.PaymentModeID}}^{{item.PaymentMode}}">
                      {{item.PaymentMode}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="paymentModeSearchText.errors?.required">Payment Mode is required</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="24%" *ngIf="showPaymentMethodExtras">
                  <mat-select [(ngModel)]="accountListType" placeholder="Account Types" name="accountListType"
                    #accountListTypeText="ngModel" required>
                    <mat-option *ngFor="let item of accountList" value={{item.AccountNo}}>
                      {{item.AccountName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="accountListTypeText.errors?.required">Account type is required</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="24%" *ngIf="showPaymentMethodExtras">
                  <input matInput maxlength="20" placeholder="{{paymentMode}} Reference Number"
                    [(ngModel)]="instrumentReference" name="instrumentReference" #instrumentReferenceText="ngModel"
                    required>
                  <mat-error *ngIf="instrumentReferenceText.errors?.required">{{paymentMode}} Reference Number
                    is required</mat-error>
                </mat-form-field>
                <!-- <mat-form-field  fxFlex="25%">
                <input matInput readonly [matDatepicker]="picker3" required [min]="minDate" [max]="maxDate"
                  placeholder="Loan Date" [(ngModel)]="instrumentDate" name="instrumentDateVal"
                  #instrumentDateValText="ngModel" required>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
                <mat-error *ngIf="instrumentDateValText.errors?.required">Loan Date is required</mat-error>
              </mat-form-field> -->
                <!-- <mat-form-field>
              <input matInput myNumberOnly maxlength="10" readonly placeholder="Total Amount"
                [(ngModel)]="totalAmount" name="totalAmountText" #totalAmountText="ngModel">
            </mat-form-field> -->
              </div>
            </div>

            <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="1%" fxFlex="100%">
              <mat-form-field fxFlex="24%" >
                <input matInput [matDatepicker]="picker2" placeholder="Collection Date" name="picker2" [max]="today"
                  readonly  [(ngModel)]="collectionDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
        
            <div fxLayoutGap="2%" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutAlign.xs="center">
              <button mat-raised-button color="primary" class="mat-elevation-z12 box-button"
                [disabled]="!settlementForm.valid" [ngStyle]="{'height':'40px'}"
                (click)="confirm(settlementForm)">Confirm</button>
              <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" 
                [ngStyle]="{'height':'40px'}" (click)="clear(settlementForm)">Clear</button>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>