<div fxLayout="column" class="form-block flex-p" style="padding-top: 25px !important;">

  <div fxLayoutGap="2%">
    <mat-form-field fxFlex="33.3%" style="padding-left: 25px !important;">
      <input matInput placeholder="Loan ID" name="loan_ID" [(ngModel)]="loanID" required readonly>
      <mat-error>Loan ID ID is required</mat-error>
    </mat-form-field>
    <div fxFlex="70%" fxLayoutAlign="end">
      <button mat-raised-button color="primary" type="button" (click)="loanSearch()"
        class="mat-elevation-z12 box-button search-btn">Search</button>
    </div>
  </div>
</div>

<div>
  <div fxLayout="row">
    <div fxLayoutAlign="end" fxLayout="row">
      <button mat-raised-button class="mat-elevation-z12 box-button" (click)="printPdf()" color="primary">Print
        PDF</button>
    </div>

  </div>
  <div #pdfTemplate *ngIf="showFlag">
    <div fxLayout="column" style="font-size: 150%;">
      <div fxFlex="160px">
      </div>
      <div fxLayout="row">
        <div fxFlex="6%"></div>

        <div fxFlex="88%" *ngIf="stateid=='malayalam'">

          <div fxLayout="row" fxLayoutAlign="center">
            <h3 fxLayout="row" fxLayoutAlign="center"> വായ്പക്കാരന്റെ പ്രസ്താവന </h3>

          </div>
          <div fxLayout="row" fxLayoutAlign="start">
            <p> തിയതി: </p>
            <p>{{today | date:'dd-MM-yyyy'}}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="start">
            <p> സ്ഥലം:{{addressLines2}}</p>
          </div>


          <br>

          <br>
          <div style="text-align: justify;">

            <p>
              {{addressLines2}},{{HouseName}} താമസിക്കും .....{{fatherName}}....മകൻ/മകൾ </p>
            <p> {{Name}} എന്ന,ഞാൻ താഴെ കൊടുത്തുരിക്കുന്നപ്രസ്താവനകൾ ഇതിനാൽ ഉറപ്പാക്കുന്നു.
              മണപ്പുറം ഫിനാൻസിൽ നിന്നും ഓൺ‌ലൈൻവായ്പ എടുക്കുന്നത് സംബന്ധിച്ച വായ്പാ ഉടമ്പാടി, വായ്പാ അനുമതി പത്രം തുടങ്ങി
              മറ്റു അനുബന്ധ രേഖകളും ഞാൻ വായിച്ചു മനസിലാക്കിയിട്ടുണ്ട്, ആയതിനാൽ വായ്പക്കായി മേല്പറഞ്ഞ എല്ലാ രേഖകളിലും ഞാൻ
              ഡിജിറ്റലായി ഒപ്പ് വച്ചി ട്ടുള്ളതുമാകുന്നു, കൂടാതെ എല്ലാ വായ്പാ രേഖകളുടെയും ഉള്ളടക്കം ബന്ധപ്പെട്ട
              ഉദ്യോഗസ്ഥർ ഫോണിലൂടെ മലയാളത്തിൽ വിവരിച്ചു തന്നിട്ടുള്ളതാണെന്നും മേല്പറഞ്ഞ എല്ലാ രേഖകളുടെയും പകർപ്പുകൾ
              കൈപറ്റുകയും ചെയ്തിട്ടുണ്ടെന്നു ഇതിനാൽ അറിയിക്കുന്നു.
            </p>
            <br>

            <p> കൂടാതെ വായ്പയുടെ എല്ലാനിബന്ധനകൾക്കും വിധേയമായി അവ പാലിക്കാൻഞാൻ ബാധ്യസ്ഥനാണെന്ന് ഇതിനാൽ ഉറപ്പ് നൽകുന്നു.
              <br><br>

            <p>മേൽ പ്രസ്താവനകൾ എല്ലാം സത്യവും ശരിയുമാകുന്നു </p>
            <br>
            <br>

            <br>
            <p> വായ്പ്പാ എടുത്തളുടെ ഒപ്പ്</p>






            <br>


          </div>


        </div>
        
        <div fxFlex="88%" *ngIf="stateid=='default'">

          <div fxLayout="row" fxLayoutAlign="center">
            <h3 fxLayout="row" fxLayoutAlign="center"> Borrower's statement </h3>

          </div>
          <div fxLayout="row" fxLayoutAlign="start">
            <p> Date: </p>
            <p>{{today | date:'dd-MM-yyyy'}}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="start">
            <p> Place:{{addressLines2}}</p>
          </div>


          <br>

          <br>
          <div style="text-align: justify;">

            <p>
              {{addressLines2}},{{HouseName}} Will stay .....{{fatherName}}....Son / daughter 
             {{Name}} This confirms the statements I have made below.
             <br>
             <br>
              Manappuram Finance has started a loan agreement and a loan permit for online borrowing
              I have read and understood other related documents, Therefore I am in all the above documents for the loan
              Is digitally signed, and the contents of all loan documents are relevant
              Copies of all the above documents which were described by the officials in Malayalam over the phone
              It is hereby informed that it has been received.
            
            <br>
</p>
             I hereby guarantee that I will be bound by all the terms and conditions of the loan.
              <br>

            <p>All of the above statements are true and correct </p>
            <br>
            

            
            <p>Name of the borrower:  {{Name}}</p>






            <br>


          </div>


        </div>

        <div fxFlex="88%" *ngIf="stateid=='hindi'">

          <div fxLayout="row" fxLayoutAlign="center">
            <h3 fxLayout="row" fxLayoutAlign="center">
              कर्जदार की घोषणा
            </h3>

          </div>



          <br>

          <br>
          <div style="text-align: justify;">

            <p>

              मैं, {{Name}}, श्री....{{fatherName}}..... का पुत्र/पुत्री/पत्नी, {{addressLines2}},{{HouseName}} का
              निवासी एतद्द्वारा नीचे दिए अनुसार कथन और घोषणा करता /करती </p>
              <br>
            <p>

              मणप्पुरम फायनांस लि. से ऑनलाइन पर्सनल लोन लेने के लिए आवश्यक ऑनलाइन पर्सनल लोन एग्रीमेंट, स्वीकृति पत्र और
              अन्य सभी दस्तावेज मुझे हिंदी भाषा में पढ़कर सुनाए और समझाए गए हैं, जिसे मैने समझ
              लिया है. इसके अलावा मुझे उक्त सभी दस्तावेजों की एक प्रति मिली है.

            </p>
            <br>
            <p> उक्त दस्तावेजों को कंपनी के रिलेशनशिप मैनेजर ने मुझे फोन पर पढ़कर सुनाया और समझाया है और मैने दस्तावेजों
              को ठीक से समझने के बाद ही लोन एग्रीमेंट तथा लोन से जुड़े अन्य संबंधित दस्तावेजों पर डिजिटल रूप से हस्ताक्षर
              किए हैं. इसके अलावा, मैं उक्त लोन एग्रीमेंट तथा अन्य प्रासंगिक दस्तावेजों में लिखें गए नियमों व शर्तों का
              पालन करने के लिए सहमती देता/देती हूँ.
              <br><br>
            <p>मैं घोषित करता/करती हूँ कि यहाँ पर जो कुछ भी वर्णित है वह सत्य और सही है. </p>

            <br>
            <br>
            <br>
            <p> कर्जदार का हस्ताक्षर</p>






            <br>


          </div>


        </div>
        <div fxFlex="88%" *ngIf="stateid=='kannada'">

          <div fxLayout="row" fxLayoutAlign="center">
            <h3 fxLayout="row" fxLayoutAlign="center"> ಸಾಲಗಾರರ ಪ್ರಕಟಣೆ (ಪಡೆದುಕೊಂಡವರ ಘೋಷಣೆ) </h3>

          </div>
          <br>

          <br>
          <div style="text-align: justify;">

            <p>
              ನಾನು .....{{Name}}.............. ಶ್ರೀ .......{{fatherName}}....
              ........ ಯವರ ಮಗ/ಮಗಳು/ಪತ್ನಿ ........{{addressLines2}},{{HouseName}}...... ನಿವಾಸಿಯಾಗಿದ್ದು,
              ಈ ಕೆಳಗಿನಂತೆ ಘೋಷಿಸುತ್ತೇನೆ.

            </p>
            <br>

            <p>
              ಮಣಪುರಂ ಫೈನಾನ್ಸ್ ಲಿಮಿಟೆಡ್ನಿಂದ ಆನ್ಲೈನ್ ವೈಯಕ್ತಿಕ ಸಾಲವನ್ನು ಪಡೆಯಲು, ಆನ್ಲೈನ್ ವೈಯಕ್ತಿಕ ಸಾಲ ಒಪ್ಪಂದ,
              ಮಂಜೂರಾತಿ ಪತ್ರ ಮತ್ತು ಇತರ ಎಲ್ಲ ದಾಖಲೆಗಳ ವಿಷಯಗಳನ್ನು ___ಕನ್ನಡ____ ಭಾಷೆಯಲ್ಲಿ ಓದಲಾಗಿದೆ
              ಮತ್ತು ನನಗೆ ವಿವರಿಸಲಾಗಿದೆ, ಇದು ನನಗೆ ಸಂಪೂರ್ಣವಾಗಿ ಅರ್ಥವಾಗಿದೆ.
              ಮುಂದೆ ನಾನು ಹೇಳಿದ ಎಲ್ಲಾ ದಾಖಲೆಗಳ ನಕಲನ್ನು ಸ್ವೀಕರಿಸುತ್ತಿದ್ದೇನೆ.

            </p>
            <br>
            <p>
              ಇದಕ್ಕೆ ಸಂಬಂಧಿಸಿದ ದಾಖಲೆಗಳನ್ನು ಕಂಪನಿಯ ರಿಲೇಶನ್ಶಿಪ್ ಮ್ಯಾನೇಜರ್ ಫೋನ್ ಮೂಲಕ ನನಗೆ ವಿವರಿಸಿದ್ದಾರೆ
              ಮತ್ತು ಸಾಲಕ್ಕೆ ಸಂಬಂಧಿಸಿದ ಒಪ್ಪಂದ ಮತ್ತು ಇತರ ಸಂಬಂಧಿತ ದಾಖಲೆಗಳನ್ನು ಡಿಜಿಟಲ್ ರೂಪದಲ್ಲಿ ಸಹಿ
              ಮಾಡಿದ್ದೇನೆ. ಇದಲ್ಲದೆ, ಮೊದಲೇ ಹೇಳಿದ ಸಾಲ ಒಪ್ಪಂದ ಮತ್ತು ಇತರ ದಾಖಲೆಗಳಲ್ಲಿರುವ ನಿಯಮಗಳು ಮತ್ತು
              ಷರತ್ತುಗಳನ್ನು ಅನುಸರಿಸಲು ನಾನು ಈ ಮೂಲಕ ಒಪ್ಪುತ್ತೇನೆ.

              <br><br>
            <p>
              ಮೇಲೆ ಹೇಳಿರುವ ಎಲ್ಲವೂ ಸತ್ಯ ಮತ್ತು ಸರಿಯಾದದು ಎಂದು ನಾನು ಇಲ್ಲಿ ಘೋಷಿಸುತ್ತೇನೆ.
            </p>
            <br>
            <br>

            <br>
            <p>
              ಸಾಲಗಾರನ ಸಹಿ
            </p>
            <br>


          </div>


        </div>
        <div fxFlex="88%" *ngIf="stateid=='tamil'">

          <div fxLayout="row" fxLayoutAlign="center">
            <h3 fxLayout="row" fxLayoutAlign="center"> கடன்தாரரின் உறுதிமொழி </h3>

          </div>
          <br>

          <br>
          <div style="text-align: justify;">

            <p>


              ------{{addressLines2}},{{HouseName}}-------- ல்
              வசிக்கும் -----{{Name}}----- ன் மகன்/மகள்/மனைவி
              ஆகிய நான் --------{{fatherName}}----------- இதன்
              மூலம் கீழ்க்கண்டவாறு உறுதியளிக்கிறேன்:

            </p>
            <br>
            <p>
              மணப்புரம் பைனான்ஸ் லிமிடெட் நிறுவனத்திடமிருந்து ஆன்லைன் தனிநபர் கடனைப் பெறுவதற்கான ஆன்லைன் தனிநபர் கடன்
              ஒப்பந்தம், அனுமதி கடிதம், ஒப்புதல் கடிதம் மற்றும் அது தொடர்பான இதர அனைத்து ஆவணங்களின் உள்ளடக்கங்களும் நான்
              புரிந்து கொள்கிற தமிழ் மொழியில் எனக்காக படிக்கப்பட்டு விளக்கப்பட்டுள்ளன. மேலும் நான் மேற்குறிப்பிட்ட
              அனைத்து ஆவணங்களின் ஒரு நகலையும் பெற்றுக் கொண்டுள்ளேன்.

            </p>
            <br>

            <p>
              மேற்குறிப்பிட்ட ஆவணங்கள் நிறுவனத்தின் ரிலேஷன்ஷிப் மேனேஜரால் எனக்கு தொலைபேசியில் வாசிக்கப்பட்டு
              விளக்கமளிக்கப்பட்டுள்ளன. நான் ஆவணங்களை சரிவர புரிந்து கொண்ட பின்பு, கடன் ஒப்பந்தம் மற்றும் கடன் தொடர்பான
              இதர ஆவணங்களில் டிஜிட்டல் முறையில் கையெழுத்திட்டுள்ளேன். மேலும், மேற்குறிப்பிட்ட கடன் ஒப்பந்தம் மற்றும் பிற
              ஆவணங்களில் குறிப்பிடப்பட்டுள்ள விதிமுறைகளையும் நிபந்தனைகளையும் பின்பற்ற நான் இதன் மூலம் ஒப்புக்
              கொள்கிறேன்.

              <br><br>
            <p>
              மேலே குறிப்பிட்டுள்ள அனைத்தும் உண்மையானவை மற்றும் சரியானவை என இதன் மூலம் உறுதியளிக்கிறேன்.
            </p>

            <br>
            <br>
            <br>
            <p>
              கடன்தாரரின் கையெழுத்து
            </p>
            <br>


          </div>


        </div>
        <div fxFlex="88%" *ngIf="stateid=='telugu'">

          <div fxLayout="row" fxLayoutAlign="center">
            <h3 fxLayout="row" fxLayoutAlign="center">రుణగ్రహీత యొక్క ప్రకటన </h3>

          </div>
          <br>

          <br>
          <div style="text-align: justify;">

            <p>
              ....{{Name}}... యొక్క కుమారుడు/ కుమార్తె/ భార్యనైన
              నేను .....{{fatherName}}...., నివాసం ....{{addressLines2}},{{HouseName}}...,
              ఈ కింది విధంగా తెలియజేస్తున్నాను మరియు ప్రకటిస్తున్నాను:

            </p>
            <br>
            <p>

              మణప్పురం ఫైనాన్స్ లిమిటెడ్ నుంచి ఆన్లైన్ పర్సనల్ లోన్ని
              ఉపయోగించుకునేందుకు అవసరమైన ఆన్లైన్ పర్సనల్ లోన్ ఒప్పందంలోని విషయాలు,
              మంజూరు లేఖ మరియు ఇతర డాక్యుమెంట్లు అన్నీ నాకు అర్థమైన ...తెలుగు... భాషలో
              నాకు చదివి వినిపించబడ్డాయి మరియు వివరించబడ్డాయి. ఇంకా సదరు పత్రాలన్నిటి కాపీ నాకు అందింది.

            </p>
            <br>
            <p>
              కంపెనీ యొక్క రిలేషన్షిప్ మేనేజర్ సదరు పత్రాలను ఫోన్లో నాకు చదివి వినిపించారు మరియు వివరించారు మరియు
              డాక్యుమెంట్లను సరిగ్గా అర్థంచేసుకున్న తరువాత మాత్రమే రుణ ఒప్పందంలో మరియు రుణానికి సంబంధించిన ఇతర
              పత్రాలన్నిటిలో నేను డిజిటల్గా సంతకం చేశాను. ఇంకా, సదరు రుణ ఒప్పందంలో మరియు ఇతర సంబంధిత పత్రాల్లో
              తెలియజేసిన విధంగా నియమ నిబంధనలకు కట్టుబడటానికి నేను ఇందుమూలంగా అంగీకరించాను.
              <br><br>
            <p>
              ఇక్కడ పైన తెలియజేసినవన్నీ నిజం మరియు కచ్చితమైనవని నేను ప్రకటిస్తున్నాను.
            </p>
            <br>
            <br>

            <br>
            <p>
              రుణగ్రహీత సంతకం
            </p>
            <br>


          </div>


        </div>
        <div fxFlex="88%" *ngIf="stateid=='assameese'">

          <div fxLayout="row" fxLayoutAlign="center">
            <h3 fxLayout="row" fxLayoutAlign="center">ঋণ লওঁতাৰ ঘোষণা</h3>

          </div>
          <br>

          <br>
          <div style="text-align: justify;">

            <p>


              মই, ---{{Name}}--- পিতৃ্/স্বামী -----{{fatherName}}
              ------- ঠিকনা -------{{addressLines2}},{{HouseName}}----
              --------- ইযাৰ দ্বাৰা
              নিম্লিখিত ধৰণে ডল্লেখ আৰু ঘোষণা কৰোঁ:

            </p>
            <br>
            <p>

              মনপ্পুৰম ফাইনেন্স লিমিটেডৰ পৰা প্রাপ্ত কৰা অনলাইন ব্যক্তিগত ঋণৰ সৈতে সম্পর্কিত অনলাইন ব্যক্তিগত ঋণ
              চুক্তিপত্র, আৱণ্টন পত্র আৰু অন্যান্য দস্তাবেজ, মোক পঢ়ি শুনোৱা আৰু ---অসমীয়া-- ভাষাত বুজাই দিযা হৈছিল, যাক
              মই বুজি পাওঁ। লগতে মই এই সকলো দস্তাবেজৰ একোটাকৈ প্রতিলিপি প্রাপ্ত কৰিছোঁ।

            </p>
            <br>
            <p>

              এই ডল্লেখিত দস্তাবেজবোৰ কোম্পানীৰ ৰিলেচনশ্বিপ মেনেজাৰে মোক ফোনত পঢ়ি শুনাইছে আৰু বুজাই দিছে আৰু মই
              দস্তাবেজবোৰ ভালদৰে বুজি পোৱাৰ পিছতহে ঋণ চুক্তিপত্র আৰু ঋণটোৰ সৈতে সম্পর্কিত অন্যান্য দস্তাবেজত স্বাক্ষৰ
              কৰিছোঁ। লগতে, মই ইযাৰ দ্বাৰা এই ওপৰোক্ত ঋণ চুক্তিপত্র আৰু অন্যান্য সম্পর্কিত দস্তাবেজত ডল্লেখিত চর্তাৱলী
              আৰু নিযমাৱলী পালন কৰি চলিম বুলি সন্ত হৈছোঁ।


              <br><br>
            <p>
              মই ঘোষণা কৰোঁ যে ওপৰত ডল্লেখিত আটাইবোৰ কথা সঁচা আৰু সঠিক।
            </p>
            <br>
<br>
            <br>
            <p>
              ঋণ লওঁতাৰ স্বাক্ষৰ
            </p>
            <br>


          </div>


        </div>
        <div fxFlex="88%" *ngIf="stateid=='bengali'">

          <div fxLayout="row" fxLayoutAlign="center">
            <h3 fxLayout="row" fxLayoutAlign="center"><u>ঋণগ্রহীতার ঘোষণা</u></h3>

          </div>
          <br>

          <br>
          <div style="text-align: justify;">

            <p>




              আমি, …………{{Name}}…………, ……{{fatherName}}……-এর পুত্র ্ কন্যা ্ স্ত্রী,
              ঠিকানা ……{{addressLines2}},{{HouseName}}…, এতদ্বারা নীচে প্রদত্তগুলি উল্লেখ এবং ঘোষণা করি:

            </p>
            <br>
            <p>
              মনপ্পুরম ফাইনান্স লিমিটেড-এর থেকে ব্যক্তিগত ঋণ গ্রহণের সঙ্গে প্রাসঙ্গিক ব্যক্তিগত ঋণ চুক্তি, মঞ্জুরি পত্র
              এবং অন্যান্য সকল নথিপত্রগুলি, আমার নিকটে ……বাংলা…… ভাষায, যেি আমার দ্বারা বোধ্যগম্য হয, পাঠ করা এবং
              ব্যাখ্যা করা হযেছিল। অতিরিক্তভাবে আমি উল্লেখিত সকল নথিপত্রের একটি প্রতিলিপি প্রাপ্ত করেছি।
            </p>
            <br>
            <p>
              উল্লেখিত নথিপত্রগুলি, কোম্পানীর রিলেশনশিপ ম্যানেজারের দ্বারা আমার নিকট ফোনের মাধ্যমে পাঠ করা এবং ব্যাখ্যা
              করা হযেছিল এবং আমি, নথিপত্রগুলি সঠিকভাবে অনুধাবন করার পরে, ঋণটির সঙ্গে সম্পর্কিত ঋণ চুক্তি এবং অন্যান্য
              নথিপত্রগুলিতে ডিজিটালভাবে স্বাক্ষর প্রদান করেছি। অতিরিক্তভাবে, আমি এতদ্বারা, ঋণ চুক্তি এবং অন্যান্য
              প্রাসঙ্গিক নথিপত্রগুলিতে উল্লেখিত নিযম এবং শর্তাবলীর প্রতি বিশ্স্ত থাকার জন্য সম্মত হই।
              <br><br>
            <p>
              আমি ঘোষণা করি যে এতদমধ্যে যাকিছুই উল্লেখ করা হযেছে, সেগুলি সত্য এবং সঠিক।
            </p>
            <br>

            <br>
            <p>
              ঋণগ্রহীতার স্বাক্ষর
            </p>
            <br>


          </div>


        </div>
        <div fxFlex="88%" *ngIf="stateid=='gujarati'">

          <div fxLayout="row" fxLayoutAlign="center">
            <h3 fxLayout="row" fxLayoutAlign="center"><u>કર્જદારોની ઘોષણા/કર્જદારોનું ઘોષણા પત્ર</u></h3>

          </div>
          <br>

          <br>
          <div style="text-align: justify;">

            <p>


              હું, ----{{Name}}-----, શ્રી -{{fatherName}}---- ના દીકરો/દીકરી/ પત્ની
              રહેઠાણ --------{{addressLines2}},{{HouseName}}-------- આ દ્વારા નીચે મુજબ જણાવું અને ઘોષણા કરું છું:




            </p>
            <br>
            <p>
              ઑનલાઈન પર્સનલ લોન એગ્રીમેન્ટ, સેંક્શન લેટર અને અન્ય બધાં જ દસ્તાવેજો જે મણપ્પુરમ ફાઈનાન્સ લિ. પાસેથી
              ઑનલાઈન પર્સનલ લોન મેળવવા સંબંધિત છે તે મને ---ગુજરાતી---- ભાષામાં વાંચી સંભળાવવા અને સમજાવવામાં આવ્યા હતા,
              જે મેં સમજી લીધાં છે. વધુમાં, જણાવેલ બધાં જ દસ્તાવેજોની પ્રત મને મળી છે.
            </p>
            <br>
            <p>આ સૂચિત દસ્તાવેજો કંપનીના રિલેશનશિપ મૅનેજર દ્વારા મને ફોન પર વાંચી સંભળાવવામાં અને સમજાવવામાં આવ્યા હતા
              તથા મેં લોન એગ્રીમેન્ટ અને અન્ય સંબંધિત દસ્તાવેજો જે માત્ર લોન સંબંધી છે તે બરાબર સમજ્યા પછી જ તેમાં
              ડિજિટલ સહી કરી છે. વધુમાં, આ દ્વારા હું સૂચિત લોન એગ્રીમેન્ટ અને અન્ય સંબંધિત દસ્તાવેજોમાં જણાવેલ નિયમો
              અને શરતોનું પાલન કરવા સહમત થાઉં છું. <br><br>
            <p>
              <br>
              હું ઘોષિત કરું છું કે અહીં ઉપર જે પણ જણાવ્યું છે તે સાચું અને ખરું છે.
            </p>

            <br>
            <br>
            <br>
            <p>

              કર્જદારની સહી

            </p>
            <br>


          </div>


        </div>
        <div fxFlex="88%" *ngIf="stateid=='marathi'">

          <div fxLayout="row" fxLayoutAlign="center">
            <h3 fxLayout="row" fxLayoutAlign="center"><u>कर्जदाराचे अधिकथन</u></h3>

          </div>
          <br>

          <br>
          <div style="text-align: justify;">

            <p>



              माझे नाव ----{{Name}}--- असून मी ------{{fatherName}}---- यांचा/यांची मुलगा/मुलगी/पत्नी आहे, राहणार
              ------{{addressLines2}},{{HouseName}}---, याद्वारे खालीलप्रमाणे नमूद व घोषित करतो:




            </p>
            <br>
            <p>
              मणप्पुरम फायनान्स लि.कडून ऑनलाइन व्यक्तिगत कर्ज घेण्यासाठी आनुषंगिक असणारे, ऑनलाइन व्यक्तिगत कर्ज करार,
              मंजुरी पत्र आणि इतर सर्व दस्तऐवज यांच्यामधील मजकूर मला समजणार्या --मराठी-- भाषेमध्ये मला वाचून दाखवण्यात
              आला होता व समजावून सांगण्यात आलेला होता. तसेच मला या सदर सर्व दस्तऐवजांची प्रत प्राप्त झालेली आहे.
            </p>
            <br>
            <p>कंपनीच्या रिलेशनशिप मॅनेजरने फोनवरून मला सदर दस्तऐवज वाचून दाखवले होते व समजावून सांगितलेले होते आणि मला
              दस्तऐवजामधील माहिती व्यवस्थित समजल्यानंतरच मी कर्ज करारावर व कर्जाशी संबंधित इतर सर्व दस्तऐवजांवर डिजिटल
              पद्धतीने स्वाक्षरी केलेली आहे. तसेच, मी सदर कर्ज करारामध्ये व इतर आनुषंगिक दस्तऐवजामध्ये नमूद केलेल्या अटी
              व शर्तींचे पालन करण्याचे याद्वारे मान्य करतो. <br><br>
            <p>

              मी घोषित करतो की यामध्ये वर नमूद करण्यात आलेली सर्व माहिती सत्य व अचूक आहे.
            </p>

            <br>
            <br>
            <p>

              कर्जदाराची स्वाक्षरी
            </p>
            <br>


          </div>


        </div>
        <div fxFlex="88%" *ngIf="stateid=='odia'">

          <div fxLayout="row" fxLayoutAlign="center">
            <h3 fxLayout="row" fxLayoutAlign="center"><u>ଋଣଗ୍ରହୀତାଙ୍କ ଘୋଷଣା ପତ୍ର</u></h3>

          </div>
          <br>

          <br>
          <div style="text-align: justify;">

            <p>


              ମୁଁ, ଶ୍ରୀ/କୁମାରୀ/ଶ୍ରୀମତୀ ------{{Name}}------ ବାପାଙ୍କ/ସ୍ବାମୀଙ୍କ ନାମ ---------{{fatherName}}------, ବାସସ୍ଥାନ
              -----{{addressLines2}},{{HouseName}}--, ନିମ୍ନଲିଖତ୍ତ ଘୋଷଣା କରୁଛି ଯେ :


            </p>
            <br>
            <p>ମଣପ୍ପୁରମ୍ ଫାଇନାନ୍ସ ତରଫରୁ ଅନ୍ଲାଇନ୍ ବ୍ୟକ୍ତିଗତ ଋଣ ପ୍ରାପ୍ତ କରିବା ନିମନ୍ତେ ସମ୍ବନ୍ଧିତ ଅନ୍ଲାଇନ୍ ଋଣ ଚୁକ୍ତି,
              ମଞ୍ଜୁରୀ ପତ୍ର ଏବଂ ଅନ୍ୟାନ୍ୟ ସମସ୍ତ ନଥିପତ୍ରକୁ ମୁଁ ବୁଝିପାରୁଥିବା -----ଓଡ଼ିଆ---- ଭାଷାରେ ମୋତେ ବୁଝାଯାଇଥିଲା, ଯାହାକୁ
              ମୁଁ ଭଲଭାବେ ବୁଝିପାରିଛି ଏହାଛଡ଼ା ମୁଁ ଏହି ସମସ୍ତ ନଥିପତ୍ରର ଗୋଟିଏ ପ୍ରତିଲିପି ପ୍ରାପ୍ତ କରିଛି </p>
            <br>
            <p>ଉକ୍ତ ନଥିପତ୍ରରେ ଥିବା ବିଷୟବସ୍ତୁ କମ୍ପାନୀର ରିଲେଶନ୍ଶିପ୍ ମ୍ୟାନେଜର୍ ମୋତେ ଫୋନ ଦ୍ୱାରା ପଢ଼ି ଶୁଣାଇଥିଲେ ଏବଂ ବୁଝାଇଥିଲେ
              ମୁଁ ବିଷୟବସ୍ତୁକୁ ସମ୍ପୂର୍ଣ୍ଣ ରୂପେ ବୁଝିସାରିବା ପରେ ଉକ୍ତ ଋଣ ଚୁକ୍ତିନାମ ଏବଂ ଋଣ ସମ୍ବନ୍ଧିତ ନଥିପତ୍ର ଉପରେ ଡିଜିଟାଲୀ
              ସ୍ବାକ୍ଷର କରିଛି ଏତଦ୍ଦ୍ୱାରା ମୁଁ ଋଣ ଚୁକ୍ତିନାମା ଏବଂ ଅନ୍ୟାନ୍ୟ ଆନୁଷଙ୍ଗିକରେ ଥିବା ସମସ୍ତ ନିୟମ ଏବଂ ସର୍ତ୍ତାବଳୀକୁ
              ମାନିବା ପାଇଁ ମୁଁ ସହମତି ପ୍ରଦାନ କରୁଛି
            <p>
              <br>
              ମୁଁ ଘୋଷଣା କରୁଛି ଯେ ଏଠାରେ ଉଲ୍ଲେଖତ୍ତ ସମସ୍ତ ତଥ୍ୟ ସତ୍ୟ ଏବଂ ସଠିକ୍ ଅଟେ
            </p>

            <br>
            <br>
            <p>


              ଋଣଗ୍ରହୀତାଙ୍କ ସ୍ବାକ୍ଷର

            </p>
            <br>


          </div>


        </div>
        <div fxFlex="88%" *ngIf="stateid=='punjabi'">

          <div fxLayout="row" fxLayoutAlign="center">
            <h3 fxLayout="row" fxLayoutAlign="center"><u>ਉਧਾਰਕਰਤਾ ਦਾ ਘੋਸ਼ਣਾ-ਪੱਤਰ </u></h3>

          </div>
          <br>

          <br>
          <div style="text-align: justify;">

            <p>



              ਮੈਂ, __{{Name}}_____ ਤੇ ਰਹਿਣ ਵਾਲਾ/ਲੀ _______{{fatherName}}____ ਦਾ/ਦੀ ਮੁੰਡਾ/ਕੁੜੀ/ਪਤਨੀ,
              ......{{addressLines2}},{{HouseName}}......... ਇਸ ਦੁਆਰਾ ਹੇਠਾਂ ਵਜੋਂ ਵਿਆਖਿਆ ਅਤੇ ਘੋਸ਼ਣਾ ਕਰਦਾ/ਦੀ ਹਾਂ:


            </p>
            <br>
            <p>ਮਨਾਪੁਰਮ ਫਾਇਨੈਂਸ ਲਿ. ਤੋਂ ਆਨਲਾਈਨ ਪਰਸਨਲ ਲੋਨ ਹਾਸਲ ਕਰਨ ਦੇ ਨਾਲ ਜੁੜੇ, ਆਨਲਾਈਨ ਪਰਸਨਲ ਲੋਨ ਸਮਝੌਤੇ, ਮਨਜੂਰੀ ਪੱਤਰ ਅਤੇ
              ਸਾਰੇ ਹੋਰ ਦਸਤਾਵੇਜਾਂ ਦੇ ਤੱਤ ____ਪੰਜਾਬੀ___ ਭਾਸ਼ਾ ਵਿੱਚ ਮੈਨੂੰ ਪੜ੍ਹ ਦਿੱਤੇ ਗਏ ਸਨ ਅਤੇ ਇਸ ਦੀ ਮੈਨੂੰ ਵਿਆਖਿਆ ਕੀਤੀ ਗਈ
              ਸੀ,
              ਜਿਸ ਨੂੰ ਮੈਂ ਸਮਝ ਲਿੱਤਾ ਹੈ। ਇਸ ਤੋਂ ਇਲਾਵਾ ਮੈਂ ਸਾਰੇ ਕਥਿਤ ਦਸਤਾਵੇਜਾਂ ਦੀ ਇੱਕ ਨਕਲ ਪ੍ਰਾਪਤ ਕੀਤੀ ਹੈ। </p>
            <br>
            <p>ਕਥਿਤ ਦਸਤਾਵੇਜ਼ ਕੰਪਨੀ ਦੇ ਰਿਲੇਸ਼ਨਸ਼ਿਪ ਮੈਨੇਜਰ ਦੁਆਰਾ ਫੋਨ ਤੇ ਮੈਨੂੰ ਪੜ੍ਹ ਦਿੱਤੇ ਗਏ ਸਨ ਅਤੇ ਮੈਨੂੰ ਇਸ ਦੀ ਵਿਆਖਿਆ
              ਕੀਤੀ ਗਈ ਸੀ ਅਤੇ ਮੈਂ ਦਸਤਾਵੇਜਾਂ ਨੂੰ ਪੂਰੀ ਤਰ੍ਹਾਂ ਸਮਝ ਲਿੱਤੇ ਜਾਣ ਤੋਂ ਬਾਅਦ ਹੀ ਲੋਨ ਸਮਝੌਤੇ ਅਤੇ ਲੋਨ ਦੇ ਨਾਲ ਜੁੜੇ ਹੋਰ
              ਸਬੰਧਤ ਦਸਤਾਵੇਜਾਂ ਤੇ ਡਿਜਿਟਲ ਤੌਰ ਤੇ ਹਸਤਾਖਰ ਕੀਤੇ ਹਨ। ਇਸ ਤੋਂ ਇਲਾਵਾ, ਮੈਂ ਇਸ ਦੁਆਰਾ ਕਥਿਤ ਲੋਨ ਸਮਝੌਤੇ ਅਤੇ ਹੋਰ ਸਬੰਧਤ
              ਦਸਤਾਵੇਜਾਂ ਵਿੱਚ
              ਵਿਆਖਿਆ ਕੀਤੇ ਜਾਣ ਵਜੋਂ ਨਿਯਮਾਂ ਅਤੇ ਸ਼ਰਤਾਂ ਦੀ ਪਾਲਣਾ ਕਰਨ ਲਈ ਰਾਜੀ ਹਾਂ।
            <p>
              <br>
              ਮੈਂ ਘੋਸ਼ਣਾ ਕਰਦਾ/ਦੀ ਹਾਂ ਕਿ ਇਸ ਵਿੱਚ ਉੱਪਰ ਜੋ ਵੀ ਦੱਸਿਆ ਗਿਆ ਹੈ ਉਹ ਸੱਚ ਅਤੇ ਸਹੀ ਹੈ।
            </p>

            <br>
            <br>
            <p>


              ਉਧਾਰਕਰਤਾ ਦੇ ਹਸਤਾਖਰ

            </p>
            <br>


          </div>


        </div>

      </div>
    </div>
  </div>


</div>