.mat-header-cell {
    background: #f5dc02 !important; 
    color: black !important;
}
.form-block {
    border-radius: 5px !important;
    padding: 5px !important;
    margin-bottom: 5px !important;
    box-shadow: -1px 0 4px 0 #888;
}
.search-container {
    padding-left: 30px !important;
}
.display-block {
    display: block !important;
}
.display-hide {
    display: none !important;
}
