<div  style="text-align: center;" fxLayout="column" fxLayout.xs="column" fxLayout.gt-sm="row wrap"> 
  
  <br>
  
    <mat-card fxFlex="100%" fxLayout="column" fxLayout.xs="column"  class="custom">
       <br><br>
    
 
    
      <div #pdfTemplate id="letter"  style=" margin-top:10px ;  line-height: 80px;
      font-family: sans-serif;
      font-size: 14px;
      font-family: sans-serif !important">
       <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
        <img src="assets/img/login.png">         
    </div>
        <div class="page" style="text-align: justify;line-height: 20px;
      font-family: sans-serif;
      font-size: 14px;">
            <h4 style="text-align:center;margin-top: 50px;font-size: 25px;">Terms and Conditions</h4>
            
           
<br>
<h4>
  1.	By clicking the 'Proceed' button on the platform or the 'Submit OTP' button after entering the one-time password ("OTP") sent by Manappuram Finance Ltd (hereinafter referred to as the MAFIL), I hereby agree and acknowledge that I <br><br>
         a. Am a major,<br>
         b.	Can understand, read and write the local language selected.<br>
         c.	Have read and understood the terms and conditions contained below ("Terms").<br><br>
  2.	I agree that my action of entering the OTP sent by MAFIL and clicking the "Submit" button, constitutes a valid acceptance by me of the Terms contained herein and creates a binding and enforceable agreement between me and MAFIL. <br><br>
  3.	I confirm that I have/had no insolvency proceedings against me nor have I ever been adjudicated insolvent by any court or other authority and I further confirm that I have read the information on various loan products made available by MAFIL on www.manappuram.com  <br><br>
  4.	I authorize MAFIL to exchange, share all information and details as provided by me and in relation to my existing loans and/or repayment history to any third party including but not limited to its group companies, service providers, banks, financial institutions, credit bureaus, telecommunication companies, statutory bodies, business partners, Central KYC Registry etc. for customer verification, personalization of products or services, credit rating, data enrichment, marketing or promotion of MAFIL services or related products or that of its associates/business partners and affiliates or for enforcement of your obligations and I shall not hold MAFIL (or any of its group companies or its/their employees/agents/representatives/ business partners) liable for the use/sharing of the information as stated above. <br><br>
  5.	I agree and affirm that MAFIL may contact me and communicate with me over telephonic calls, or SMS on the mobile number mentioned herein, or through any other communication mode ("Communication Modes") to verify the details provided by me. Further, I confirm that I would like to know through the above mentioned Communication Modes various MAFIL loan offer schemes or loan promotional schemes or any other promotional schemes relating to various products/services offered by MAFIL/its group companies/business partners from time to time and hereby authorise MAFIL, its group companies, employees, agents, associates, business partners to contact me from time to time for the same. <br><br>
  6.	I hereby expressly consent and authorize MAFIL/ its employees/representatives/agents/ its business partners/its group companies/affiliates to send me any communication regarding products/services offered by them using various communication channels, such as, telephone, calls/SMS/bitly/bots/emails/post/watsapp etc. <br><br>
  7.	I undertake to keep MAFIL updated of any change in the information provided by me. <br><br>
  8.	I understand and acknowledge that Manappuram Finance Ltd shall have the absolute discretion, without assigning any reason to reject my loan application and that Manappuram Finance Ltd shall not be responsible/liable in any manner whatsoever for such rejection. <br><br>
  9.	I further understand and agree that pursuant to my application on the Digital Lending Platform, I will be required to upload/submit documents to the satisfaction of Manappuram Finance Ltd and accept the loan terms and conditions for availing the loan granted to me by Manappuram Finance Ltd from time to time. <br><br>
  10.	I hereby expressly consent and authorise Manappuram Finance Ltd/ its representatives/ agents/ its business partners/ its group companies/ affiliates to initiate, PAN, Aadhar, address and employment check to evaluate and process my loan application/requirement as expressed and submitted in the digital lending platform. I, further agree and grant my permission to MAFIL, or any third agencies appointed by MAFIL, to extract and use my details from all such agencies (PAN, CIBIL, Aadhar, CBS Etc.), which are required in the evaluation and processing of my loan application/requirement <br><br>
  11.	I hereby expressly consent and authorize Manappuram Finance Ltd to levy applicable stamp duty in my loan account. <br><br>
  12.	Manappuram Finance Ltd, reserves the right to modify/ change all or any of the terms applicable to the use of the Platform, without assigning any reasons or without any prior intimation whatsoever.<br><br>
  13.	Manappuram Finance Ltd, reserves the right at any time, with prior intimation similar to privacy policy to add, alter, modify, change or vary all or any of these Terms and conditions.<br><br>
  
</h4>







            <!-- </tr> -->
              


          </div>
          <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center center">
            <h4 style="margin-left: 700px;">
              For Manappuram Finance Ltd <br>
              Satheeshkumar M
              <div fxLayout="column" fxLayoutAlign="center center" style="margin-left: 20px;">
                <img src="assets/img/thumbnail_SignSatheeshSir.jpg">
              </div>
            </h4>
          </div>
        </div>
      <br>
      <br>
    </mat-card>
    <br>
    <br>
  </div>