
            <div fxLayout="column">
                    <div class="flex-p" >
                        <mat-card>
                            <mat-card-content>
            <form fxLayout="column" fxLayoutAlign="center">

                    <h2>Approval for BH</h2>

                    <mat-form-field>
                       <mat-select placeholder="Select">
                         <mat-option value="option">Option</mat-option>
                              </mat-select>
                               </mat-form-field>     
                               </form>

                               <div fxLayout="column">
                                    <div class="flex-p" >
                                        <mat-card>
                                            <mat-card-content>
                            
                                                    <h2> Take photo </h2>
                                                      <img mat-card-image src="assets/img/app/6.jpg" alt="Photo 6">        
                                                             <div fxLayoutGap="3%" fxLayoutAlign="end start">                
                                                                <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" >Reject</button>
                                                                <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" >Cancel</button>  
                                                            </div>
                                            </mat-card-content>
                                      </mat-card>
                            </div>
                         </div>
        
   