.th{
    background: none !important;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 15px;
    text-decoration: underline;
    color: green !important;
    /* background: #ddd !important; */
    padding: 0;
}
.th-red{
    background: none !important;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 15px;
    text-decoration: underline;
    color: rgb(255, 5, 5) !important;
    /* background: #ddd !important; */
    padding: 0;
}