<div fxLayout="column" class="flex-p">
  <mat-card>
    <mat-card-content>
      <h3>Restructuring  Request</h3>
      <div fxLayoutGap="3%" class="flex-p" fxLayout.xs="column">
        <mat-form-field fxFlex="50%">
          <mat-select placeholder="Search By">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="50%">
          <input matInput placeholder="Search">
        </mat-form-field>
      </div>

      <div fxLayoutGap="3%"  fxLayout.xs="column">
        <mat-form-field fxFlex="50%">
          <input matInput placeholder="Loan ID">
        </mat-form-field>
        <mat-form-field fxFlex="50%">
          <input matInput placeholder="Customer Name">
        </mat-form-field>
      </div>
      
      <div fxLayoutGap="3%" fxLayout.xs="column">
        <mat-form-field fxFlex="50%">
          <input matInput placeholder="Loan Amount">
        </mat-form-field>
        <mat-form-field fxFlex="50%">
          <input matInput placeholder="Loan Date">
        </mat-form-field>
      </div>

      <div fxLayoutGap="3%" fxLayout.xs="column">
        <mat-form-field fxFlex="50%">
          <input matInput placeholder="Tenure">
        </mat-form-field>
        <mat-form-field fxFlex="50%">
          <input matInput placeholder="Interest Rate">
        </mat-form-field>
      </div>

      
      <div fxLayoutGap="3%" fxLayout.xs="column">
        <mat-form-field fxFlex="50%">
          <input matInput placeholder="Net OutStanding">
        </mat-form-field>
        <mat-form-field fxFlex="50%">
          <input matInput placeholder="Maturity Date">
        </mat-form-field>
      </div>

    </mat-card-content>
  </mat-card>
</div>