#bord{
    margin: 20px ;
    padding: 10px;
}

#head{
    text-shadow: red ;
}

// .mat-mini-fab .mat-button-wrapper{
//     margin-top: -5px;
//     -webkit-margin-top-collapse: -5px;
// }
.mat-icon{
    -webkit-margin-top-collapse: -8px !important;
}
